<html>
  <head>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="max-w-2xl m-auto py-8 px-4">
      <% if error %>
        <p class="rounded bg-red-400 text-white text-center p-8" >
          Verification failed with <%= error.class %>
        </p>
      <% end %>
      <a href="https://promiseauthentication.org/ruby.promiseauthentication.org/login" class="underline mt-8">Login</a>
    </div>
  </body>
</html>
