<html>
  <head>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="max-w-2xl m-auto py-8 px-4">
      <img src="http://pngimg.com/uploads/ruby/ruby_PNG47.png" class="h-12" />
      <h1 class="text-2xl font-black mb-10">
        Ruby App
      </h1>
      <% if error %>
        <p class="rounded bg-red-400 text-white text-center p-8 mb-10" >
          Verification failed with <%= error.class %>
        </p>
      <% end %>
      <p class="">
        Let's pretend this is a real web application. Maybe a social network for people loving the gems we know as rubies.
      </p>
      <a href="https://promiseauthentication.org/a/ruby.promiseauthentication.org" class="inline-block mt-8 px-8 py-4 bg-green-600 text-white rounded">Login</a>
    </div>
  </body>
</html>
