<html>
  <head>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    <link href="https://unpkg.com/tailwindcss@1.8.7/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="max-w-2xl m-auto py-8 px-4 space-y-4">
      <h1 class="text-6xl font-black mb-10 tracking-tight">
        Promise Sandbox
      </h1>
      <% if error %>
        <p class="rounded bg-red-400 text-white text-center p-8 mb-10" >
          Verification failed: <%= error.to_s %>
        </p>
      <% end %>
      <p class="">
        Welcome to the Sandbox app that shows how <a href="https://promiseauthentication.org">Promise</a> works.
      </p>
      <p>
        Promise uses a simplified version of the Implicit Flow in OpenID Connect.
      </p>
      <p>
        The Authentication Request is issued by redirecting the user to
      </p>
      <% pre_classes = "my-4 p-2 border overflow-x-scroll rounded bg-gray-100" %>
      <pre class="<%= pre_classes %>"><%= href %></pre>
      <p>
        That is what happens when you click the button. Go ahead.
      </p>
      <a href="<%= href %>" class="inline-block mt-8 px-8 py-4 bg-green-600 text-white rounded">Login</a>
    </div>
  </body>
</html>
